<%= form_with(model: maquina) do |form| %>
  <% if maquina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maquina.errors.count, "error") %> prohibited this maquina from being saved:</h2>

      <ul>
        <% maquina.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Maquina %>
    <%= form.text_field :Maquina %>
  </div>

  <div class="field">
    <%= form.label :CostoHora %>
    <%= form.text_field :CostoHora %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
