<p id="notice"><%= notice %></p>

<p>
  <strong>Maquina:</strong>
  <%= @maquina.Maquina %>
</p>

<p>
  <strong>Costohora:</strong>
  <%= @maquina.CostoHora %>
</p>

<%= link_to 'Edit', edit_maquina_path(@maquina) %> |
<%= link_to 'Back', maquinas_path %>
