<p id="notice"><%= notice %></p>

<h1>Operarios</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Tipooperario</th>
      <th>Sueldo</th>
      <th>Sueldohora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operarios.each do |operario| %>
      <tr>
        <td><%= operario.TipoOperario %></td>
        <td><%= operario.Sueldo %></td>
        <td><%= operario.SueldoHora %></td>
        <td><%= link_to 'Show', operario %></td>
        <td><%= link_to 'Edit', edit_operario_path(operario) %></td>
        <td><%= link_to 'Destroy', operario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operario', new_operario_path, class:"btn btn-outline-secondary" %>
