<p id="notice"><%= notice %></p>

<p>
  <strong>Tipooperario:</strong>
  <%= @operario.TipoOperario %>
</p>

<p>
  <strong>Sueldo:</strong>
  <%= @operario.Sueldo %>
</p>

<p>
  <strong>Sueldohora:</strong>
  <%= @operario.SueldoHora %>
</p>

<%= link_to 'Edit', edit_operario_path(@operario) %> |
<%= link_to 'Back', operarios_path %>
