<%= form_with(model: producto) do |form| %>
  <% if producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
        <% producto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :CodProd %>
    <%= form.text_field :CodProd %>
  </div>

  <div class="field">
    <%= form.label :Producto %>
    <%= form.text_field :Producto %>
  </div>

  <div class="field">
    <%= form.label :Detalle %>
    <%= form.text_field :Detalle %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
