<p id="notice"><%= notice %></p>

<p>
  <strong>Codprod:</strong>
  <%= @producto.CodProd %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @producto.Producto %>
</p>

<p>
  <strong>Detalle:</strong>
  <%= @producto.Detalle %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
